<div style="display: flex; justify-content: center; align-items: center; width: 100%; height: 100%;">
        <img style="user-select: none; -webkit-user-drag: none; margin: 0;max-width: 600;" src="https://firebasestorage.googleapis.com/v0/b/uiet-connect.appspot.com/o/error.jpg?alt=media&token=ab0cf4c9-7ce6-4e65-bf21-a610c9f6f682" alt="">
</div>
<script>
        setTimeout(()=>{
                alert("Redirecting to home");
                window.open('/','_parent');
          }, 2500);
</script>
