<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" 
integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" 
crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" 
ntegrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="./css/common.css">
 <!-- navbar -->
 <nav class="navbar navbar-expand-lg" style="z-index: 101; background-color: #ffffff; border-bottom: 1px solid #c4c4c4;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">UIET Connect</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Alumni  
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/search">Search Alumni </a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/comingsoon">Alumni  Events</a></li>
              <li><a class="dropdown-item" href="/comingsoon">Talk to Alumni </a></li>
            </ul>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Notifications</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/about">Developer</a>
          </li>
        </ul>
        <form class="d-flex" method="get" action="/login">
          <button class="custBTN" type="submit"><i class="fa-solid fa-right-to-bracket"></i> &nbsp; Login</button>
        </form>
      </div>
    </div>
  </nav>
<!-- navbar -->
