<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/home.css">
    <title>UIET Connect</title>
</head>
<body>
    
  <div>
    <div class="cursor rounded">
        <div class="nowCol"></div>
    </div>
  </div>
  <%- include('header'); -%>
      <div class="landingBanner">
            <div class="row">
                <div class="leftPart col-lg-6 col-md-5 col-12">
                    <div class="titleCon">
                      <h4><span>Build a legacy through<span><br>
                        Connecting your Alumni.</h4>
                    <p>There’s no better way to learn about an institute, than to connect with its alumni. </p>
                    
                    </div>    
                </div>
                <div class="col-lg-6 col-md-7 col-12">
                    <div class="galleryCon row">
                      <div class="galleryCon2 col-xxl-3 col-md-5 col-sm-5" id="gallery1">

                      </div>
                      <div class="galleryCon1 col-xxl-4 col-md-5 " id="gallery2">

                      </div>
                      <div class="galleryCon2 col-xxl-3 col-0" id="gallery3">
                        
                      </div>
                    </div>
                </div>
            </div>
      </div>
    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="./js/home.js"></script>
</body>
</html>