/* div{
    border: 1px solid #789;
} */

.mainConSer{
    padding: 1rem;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    background-color: #4e54c8;  
    box-shadow: 0 0.05rem 0.25rem rgb(75, 75, 75);
}
.mainConSer .mainInput{
    padding: 0.5rem;
    background-color: white;
    border: 1px solid #c9c9c9;
    border-radius:0.25rem ;
}
.mainConSer .inputField{
    padding: 0.5rem;
}
.mainConSer input{
    padding: 0.25rem;
    font-size: 0.8rem;
}
.mainConSer .borderRight{
    border-right: 1px solid #c9c9c9;
}
.mainConSer .inputArea1,.mainConSer .inputArea2{
    padding: 0.5rem;
}
.mainConSer .title{
    padding: 0 0.5rem ;
    margin: 0;
}
/* .mainConSer .inputArea1{
    border-right: 1px solid #787;
} */
.mainConSer .inputArea1 input{
    width: 100%;
}
.mainConSer .inputArea2 input{
    width: 35%;
}
.mainConSer .inputArea2 input[type = "submit"]{
    width: 25%;
    padding: 0.40rem;
}
.result{
    padding: 1.5rem 1rem;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    margin: 0;
}
.result .resultDiv{
    border: 1px solid #e8e8e8;
    display: flex;
    border-radius: 0.25rem;
    margin: 0.4rem 0;
    background-color: white;
    padding: 0.1rem;
}
.result .resultDiv img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 2px solid #e8e8e8;
    margin: 0.5rem;
}
.result .resultDiv .details,.modalContent .details{
    width: 100%;
    /* border: 1px solid #455; */
    padding: 0.5rem;
    position: relative;
}
.result .resultDiv .details h5,.modalContent .details h5{
    font-size: 1.10rem;
    margin: 0;
    font-weight: 600;
}
.result .resultDiv .details h6,.modalContent .details h6{
    margin: 0.5rem 0 0.15rem 0;
    font-size: 0.9rem;
    font-weight: 500;
    color: #666;
}
.result .resultDiv .details p,.modalContent .details p{ 
    margin: -0.1rem 0 0.15rem 0;
    font-size: 0.9rem;
    font-weight: 500;
    color: #666;
}
.result .resultDiv .details .bold,.modalContent .details .bold{ 
    font-weight: 600;
}
.result .resultDiv .details .viewMore{ 
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    text-decoration: none;
}
.result .resultDiv .details .viewMore:hover{ 
    color: white;
}
@media screen and (max-width: 550px) {
    .result .resultDiv .details .viewMore{ 
        position: relative;
        bottom: -0.5rem;
        left: 0;
    }
    .result .resultDiv{
        padding: 0.25rem 0.25rem 1rem 0.25rem;
    }
  }


.modalContent{
    display: flex;
    border-radius: 0.25rem;
    margin: 0.25rem 0;
}
.modalContent img{
    width: 12rem;
    height: 12rem;
    border-radius: 2rem;
    border: 2px solid var(--ter-col);
    margin: 0.5rem;
}
.modalContent .details p{ 
    font-size: 0.8rem;
}
.modalContent .details i{ 
    font-size: 1rem;
    margin: 0.25rem;
    padding: 0.5rem;
    border-radius: 50%;
    box-shadow: 0 0.05rem 0.25rem #777;
    background-color: black;
    color: white;
}
